@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);
/* html, */
body {
  background-image: url(../img/underground.jpg);
  background-size: cover;
  font-family: "Press Start 2P", cursive;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* padding-left: 10px; */
}
.navbar {
  background: transparent;
  position: sticky;
  padding-left: 20px;
  /* background-color: # */
}
.bg {
  position: fixed;
  top: 20%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  width: 200%;
  height: 200vh;
  background: transparent
    url("http://assets.iceable.com/img/noise-transparent.png") repeat 0 0;
  background-repeat: repeat;
  animation: bg-animation 0.2s infinite;
  opacity: 0.9;
  visibility: visible;
}

@keyframes bg-animation {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -5%);
  }
  20% {
    transform: translate(-10%, 5%);
  }
  30% {
    transform: translate(5%, -10%);
  }
  40% {
    transform: translate(-5%, 15%);
  }
  50% {
    transform: translate(-10%, 5%);
  }
  60% {
    transform: translate(15%, 0);
  }
  70% {
    transform: translate(0, 10%);
  }
  80% {
    transform: translate(-15%, 0);
  }
  90% {
    transform: translate(10%, 5%);
  }
  100% {
    transform: translate(5%, 0);
  }
}
/* -------------------- gallery style------------------------------ */

html,
body,
main {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  /* margin-left: -20px; */
}

.grid {
  pointer-events: none;
  position: absolute;
  width: 120%;
  height: 120%;
  top: -5%;
  left: -5%;
  display: grid;
  grid-template-columns: repeat(50, 2%);
  grid-template-rows: repeat(50, 2%);
}

.grid__item {
  position: relative;
}

.grid__item-img {
  position: relative;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50% 50%;
}

.pos-1 {
  grid-area: 6 / 2 / 22 / 8;
}

.pos-2 {
  grid-area: 1 / 18 / 9 / 27;
}

.pos-3 {
  grid-area: 1 / 36 / 14 / 42;
}

.pos-4 {
  grid-area: 13 / 11 / 32 / 18;
}

.pos-5 {
  grid-area: 14 / 29 / 30 / 35;
}

.pos-6 {
  grid-area: 20 / 46 / 28 / 51;
}

.pos-7 {
  grid-area: 36 / 1 / 46 / 10;
}

.pos-8 {
  grid-area: 38 / 14 / 46 / 22;
}

.pos-9 {
  grid-area: 37 / 26 / 48 / 32;
}

.pos-10 {
  grid-area: 37 / 37 / 48 / 45;
}
.pos-11 {
  grid-area: 22 / 20 / 36 / 28;
}
.pos-12 {
  grid-area: 17 / 36 / 34 / 44;
}
.pos-13 {
  grid-area: 10 / 21 / 23 / 27;
}
.pos-14 {
  grid-area: 18 / 4 / 34 / 12;
}

/* --------------------------------zoom------------------------ */
.grid__item .pos-11 {
  /* height: 200px;
  width: 200px; */
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -ms-transition: all 2s ease;
  transition: all 2s ease;
}
.grid__item .pos-11 :hover {
  width: 300px;
  height: 300px;
}

p {
  color: white;
}
